
.casestudies {
  background: linear-gradient(to bottom, $grey 70%, $white 100%);
  padding-top: 20px;
  // margin-bottom: -300px;
  @include sm {
    padding-top: 60px;
  }

  &_intro {
    margin-top: 0px;
    margin-bottom: 30px;
    @include sm {
      position: absolute;
      width: 25%;
      left: 50%;
      margin-top: 50px;
      margin-left: 20px;
      margin-bottom: inherit;
    }
    p {
      color: $black;
    }
  }

  &_thumbs {
    & > div {
      flex-basis: 100%;
      margin-bottom: 30px;
      @include sm {
        flex-basis: 50%;
        flex-grow: 0;
        margin-bottom: 150px;
        &:nth-child(2n) {
          transform: translateY(250px);
        }
        &:last-child {
          // margin-bottom: 0px;
        }
      }
    }
  }


  &_text {
    & > div {
      
    }
  }

  & > div {

    img {
      margin-bottom: 10px;
      @include sm {
        margin-bottom: 20px;
      }
    }

    h3 {
      margin-bottom: 10px;
    }
  
  }
}
