.clients {
  margin-top: 10px;
  @include sm {
    margin-top: 110px;
  }
  &_title {
    @extend .t-header;
    color: $red;
    margin-bottom: 20px;
    @include sm {
      margin-bottom: 30px;
    }
  }

  ul {
    column-count: 2;
    width: 100%;
    @include sm {
      column-count: 3;
      width: 110%;
    }
    li {
      @extend .t-clientlist;
      line-height: 2.4em
    }
  }
}