.clients {
    margin-top: 10px;
    @include sm {
        margin-top: 110px;
    }
    &_title {
        @extend .t-header;
        color: $red;
        margin-bottom: 20px;
        @include sm {
            margin-bottom: 30px;
        }
    }

    &_logos {
        // column-count: 2;
        width: 100%;
        overflow: auto;
        @include sm {
            // column-count: 4;
            width: 100%;
        }
        li {
            @extend .t-clientlist;
            line-height: 0px;
            margin-bottom: 20px;
            text-align: center;
            width: 50%;
            float: left;
            img {
                max-width: 60%;
            }
            @include sm {
                text-align: left;
                width: 25%;
                img {
                    max-width: 40%;
                }
            }
        }
    }
}
