


.footer {

  background: $white;

  &_wordmark {
    svg {
      max-width: 200px;
      height: inherit;
      path {
        fill: darken($red, 30%);
      }
    }
  }

  &_copyright {

  }

  &_nav {

  }

  &_social {

  }
}
