
.header {
  background: $black;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;

  &_brand {
    flex: 1;
  }

  &_emblem {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: lighten($red, 9%);
    color: $white;
    margin-left: -5px;
    text-indent: -9999px;

  }

  &_nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &_menu {
    display: inline;
  }

  &_menuitem {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 0%;
      height: 4px;
      margin-top: 2px;
      background: $red;
    }
    &.active {
      &:after {
        width: calc(100% - 20px);
        
      }
    }

    a {
      @extend .t-nav;
      color: $white;
    }
  }

}
