.imagegrid {
  display: flex;
  flex-flow: row wrap;
  background: #333;
  height: 50vh;
  width: 100%;
  @include sm {
    height: 70vh;
  }

  & > div {
    position: relative;
    flex: 1;
    flex-basis: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    img {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all ease 0.3s;
      opacity: 1;
    }
  }
}

.fadeout {
  opacity: 0 !important;
}
