.related {

  background: $black;
  color: $white;
  
  padding-bottom: 0px;
  @include sm {
    padding-bottom: initial;
  }

  h3 {
    color: $white;
  }

  &_header {
    padding-top: 10px;
    padding-bottom: 40px;
    h3 {
      @extend .t-nav;
      color: $red;
    }
  }


  &_cols {
    display: flex;
    flex-flow: column wrap;
    @include sm {
      flex-flow: row wrap;
    }
    margin-left: -20px;
    margin-right: -20px;

    & > div {
      flex: 1;
      margin-bottom: 40px;
      @include interpolate((padding-left,padding-right), $sm, 20px, $xl, 20px);
    
      img {
        margin-bottom: 20px;
      }

      h3 {
        margin-bottom: 10px;
        color: $white;
      }
      h4 {
        color: $white;
      }
    }
  }
  
}