.showreelmodal {
}

.showreelthumb {
    position: relative;
}

.playbutton {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%) scaleY(0.5);
    border-left: 60px solid $white;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
}

.showreelmodal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: $black;
    // opacity: 0;
    z-index: 3;
    pointer-events: none;
    transform: translateY(-110%);
    transition: all $ease 0.5s;
    &.active {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%);
    }
    &_close {
        position: absolute;
        //background: red;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        transform: rotate(45deg);
        transition: all $ease 0.3s;
        &::before,
        &::after {
            content: "";
            background: $white;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            display: block;
            width: 75%;
            height: 2px;
            transform-origin: center center;
            transition: all $ease 0.3s;
        }
        &::after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
        &:hover {
            transform: rotate(90deg);
            &::before {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }
    video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
        box-shadow: 2px 2px 37px 0px rgba(0, 0, 0, 0.25);
    }
    a {
        color: blue;
    }
}
