.text {

  // background: $red;

  .mesh > div {
    margin-bottom: 30px;
    @include sm {
      margin-bottom: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
      @include sm {
        margin-bottom: initial;
      }
    }
  }

  &_caption {
    @extend .video_caption;
  }

  h3 {
    @extend .t-nav;
    color: $red;
  }

  h2 {
    @extend .t-title;
  }

  p {
    margin-bottom: 15px;
    @include sm {
      margin-bottom: 20px;
    }
  }

}