.work {
  &_introvideo { 
    @extend .wrap;
    background: lighten($red, 9%);
    width: 100vw;
    display: block;
    position: relative;
    height: calc(100vw * 0.5625);
    overflow: hidden;
    @include sm {
      min-height: 400px;
      height: calc(100vh - 70px);
      max-height: calc(100vw * 0.5625);
    }
  }

  &_video {
    position: absolute;
    left: 0px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: 0;
  }

  &_welcome {
    @extend .t-header;
    position: absolute;
    color: $white;
    z-index: 1;
    display: none;
    top: 130px;
    @include sm {
      display: block;
    }
  }

  &_tagline {
    position: absolute;
    z-index: 1;
    @extend .t-big;
    bottom: 20px;
    width: 50%;
    span {
      display: inline-block;
    }
    @include sm {
      bottom: 50px;
    }
  }
}

