.work {
  margin-top: 70px;
  &_introvideo { 
    @extend .wrap;
    background: $red;
    width: 100vw;
    height: calc(100vh - 70px);
    display: block;
    position: relative;
    max-height: calc(100vw * 0.5625);
  }

  &_welcome {
    position: absolute;
    top: 20px;
    color: $white;
    @extend .t-nav;
  }

  &_tagline {
    position: absolute;
    bottom: 50px;
    @extend .t-big;
  }

  &_casestudies {

  }

}