.work {
  &_introvideo { 
    @extend .wrap;
    background: lighten($red, 9%);
    width: 100vw;
    display: block;
    position: relative;
    height: 80vh;
    overflow: hidden;
    @include sm {
      min-height: 400px;
      height: calc(100vh - 70px);
      max-height: calc(100vw * 0.5625);
    }
  }

  &_video {
    position: absolute;
    left: 0px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: 0;
  }
    

  &_welcome {
    position: absolute;
    top: 45px;
    color: $white;
    z-index: 1;
    @extend .t-header;
  }

  &_tagline {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    @extend .t-big;
  }
}

