// Font Variables
$custom: "Ball";
$family: #{$custom}, "Helvetica Neue", Helvetica, Arial, sans-serif;

$custom2: "Ball Mono";
$mono: #{$custom2}, "Lucida Console", Monaco, monospace;

// Fonts
@font-face {
  font-family: $custom;
  src: url(/assets/fonts/Ballinger-Bold.woff) format("woff");
  src: url(/assets/fonts/Ballinger-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: $custom;
  src: url(/assets/fonts/Ballinger-Regular.woff) format("woff");
  src: url(/assets/fonts/Ballinger-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $custom;
  src: url(/assets/fonts/Ballinger-Light.woff) format("woff");
  src: url(/assets/fonts/Ballinger-Light.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: $custom2;
  src: url(/assets/fonts/BallingerMono-Regular.woff) format("woff");
  src: url(/assets/fonts/BallingerMono-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

.ballinger {
  font-family: $family;
}
.mono {
  font-family: $mono;
}

// Character Styles
.bold {
  font-weight: 700;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 200;
}

.italic {
  font-style: italic;
}
.caps {
  text-transform: uppercase;
}
.display {
  text-transform: uppercase;
  letter-spacing: -1px;
}

p {
  @extend .t-text;
}

// Type Styles

.t-nav {
  @include interpolate(font-size, $sm, 17px, $xl, 20px);
  line-height: 1.2em;
  @extend .bold;
}

.t-big {
  @include interpolate(font-size, $sm, 30px, $super, 80px);
  line-height: 1.2em;
  @extend .light;
}

.t-clientlist {
  @include interpolate(font-size, $sm, 22px, $xl, 28px);
  line-height: 2.4em;
  @extend .light;
}

.t-copyright {
  @include interpolate(font-size, $sm, 12px, $xl, 12px);
  line-height: 1.2em;
  @extend .mono, .regular;
}

.t-footer {
  @include interpolate(font-size, $sm, 14px, $xl, 14px);
  line-height: 1.2em;
  @extend .regular;
}

.t-client {
  @include interpolate(font-size, $sm, 14px, $xl, 14px);
  line-height: 1.2em;
  @extend .mono, .regular;
}

.t-header {
  @include interpolate(font-size, $sm, 21px, $xl, 21px);
  @extend .bold;
  line-height: 1.2em;
  margin-bottom: 5px;
  color: $red;
}

.t-title {
  @include interpolate(font-size, $sm, 26px, $xl, 34px);
  line-height: 1.2em;
  @extend .bold;
}

.t-deck {
  @include interpolate(font-size, $sm, 21px, $xl, 21px);
  line-height: 1.2em;
  @extend .light;
}

.t-caption {
  @include interpolate(font-size, $sm, 14px, $xl, 14px);
  line-height: 1.2em;
  @extend .mono, .regular;
}

.t-quote {
  @include interpolate(font-size, $sm, 30px, $xl, 64px);
  line-height: 1.2em;
  @extend .bold;
}

.t-text {
  @include interpolate(font-size, $sm, 18px, $xl, 21px);
  line-height: 1.4em;
  @extend .regular;
}

.t-homeintro {
  @include interpolate(font-size, $sm, 21px, $xl, 24px);
  line-height: 1.4em;
  @extend .light;
}

.t-servicetitle {
  @include interpolate(font-size, $sm, 24px, $xl, 28px);
  line-height: 1.2em;
  @extend .bold;
}

// Defaults
body {
  font-family: $family;
  @extend .t-text;
  line-height: 1.2em;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

// a {
//   @include interpolate(font-size, $sm, 16px, $xl, 18px);
//   line-height: 1em;
// }

// p, address, li {
//   @extend .t-text;
// }

// strong { @extend .bold; }

// h1    {
//   @extend .t-big;
// }

// h2    {
//   @extend .t-title;
// }

// h3    {
//   @extend .t-clientlist;
// }

// h4    {
//   @include interpolate(font-size, $sm, 20px, $xl, 28px);
//   line-height: 1.2em;
// }

// h5    {
//   @include interpolate(font-size, $sm, 18px, $xl, 22px);
//   line-height: 1.2em;
// }

// h6    {
//   @include interpolate(font-size, $md, 16px, $xl, 21px);
//   line-height: 1.2em;
// }
