
// Utilities

// Body Utilities – Lock Scroll
.body--locked {
  overflow: hidden;
}

.u-hide {
  opacity: 0;
  pointer-events: none;
}

.u-link {
  border-bottom: 1px solid $black;
  color: $black;
  &:hover {
    border-bottom: 1px dotted $black;
  }
}

// only show on mobile/tablet
.u-mobile {
  display: block;
  @include md {
    display: none;
  }
}

// only show on desktop
.u-desktop {
  display: none;
  @include md {
    display: block;
  }
}

.u-center {
  display: flex;
  justify-content: center;
}


// Colours Backgrounds
.grey {
  background: $grey;
}

.black {
  background: $black;
}


// Hide for Work In Progress
.wip {
  display: none;
}


main {
  transition: all $ease .3s;
}

.out {
  opacity: 0;
  pointer-events: none;
}