// Variables

// Colours 
$black:         #474B5B;
$red:           #FD6270;
$grey:          #CCD6DF;
$white:         #FFFFFF;

// Media Query Breakpoints
$xs: 480px; $sm: 768px;  $md: 1024px; $lg: 1440px;  $xl: 1600px; $super: 2000px;

// Animation / Interpolation
$ease: cubic-bezier(0.645, 0.045, 0.355, 1);
$interpolateEase: 'cubic-bezier(0.95, 0.05, 0.795, 0.035)';
