.classic-linear {
  font-size: 12px; }
  @media screen and (min-width: 600px) {
    .classic-linear {
      font-size: calc(4vw - 12px); } }
  @media screen and (min-width: 900px) {
    .classic-linear {
      font-size: 24px; } }

.easy-peasy {
  font-size: 12px; }
  @media screen and (min-width: 600px) {
    .easy-peasy {
      font-size: calc(3.11111vw - 6.66667px); } }
  @media screen and (min-width: 700px) {
    .easy-peasy {
      font-size: calc(5.77778vw - 25.33333px); } }
  @media screen and (min-width: 800px) {
    .easy-peasy {
      font-size: calc(3.11111vw - 4px); } }
  @media screen and (min-width: 900px) {
    .easy-peasy {
      font-size: 24px; } }

.cubic-bezier {
  font-size: 12px; }
  @media screen and (min-width: 600px) {
    .cubic-bezier {
      font-size: calc(0.87111vw + 6.77333px); } }
  @media screen and (min-width: 700px) {
    .cubic-bezier {
      font-size: calc(3.13778vw - 9.09333px); } }
  @media screen and (min-width: 800px) {
    .cubic-bezier {
      font-size: calc(7.99111vw - 47.92px); } }
  @media screen and (min-width: 900px) {
    .cubic-bezier {
      font-size: 24px; } }

.bloat-my-css {
  font-size: 12px; }
  @media screen and (min-width: 600px) {
    .bloat-my-css {
      font-size: calc(1.55102vw + 2.69388px); } }
  @media screen and (min-width: 642.85714px) {
    .bloat-my-css {
      font-size: calc(4vw - 13.04956px); } }
  @media screen and (min-width: 685.71429px) {
    .bloat-my-css {
      font-size: calc(5.46939vw - 23.12536px); } }
  @media screen and (min-width: 728.57143px) {
    .bloat-my-css {
      font-size: calc(5.95918vw - 26.69388px); } }
  @media screen and (min-width: 771.42857px) {
    .bloat-my-css {
      font-size: calc(5.46939vw - 22.91545px); } }
  @media screen and (min-width: 814.28571px) {
    .bloat-my-css {
      font-size: calc(4vw - 10.95044px); } }
  @media screen and (min-width: 857.14286px) {
    .bloat-my-css {
      font-size: calc(1.55102vw + 10.04082px); } }
  @media screen and (min-width: 900px) {
    .bloat-my-css {
      font-size: 24px; } }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style-type: none; }

input {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

::selection {
  background: #CCD6DF;
  color: #474B5B; }

h1, h2, h3, h4, h5, h6, p, span, address, li {
  color: #474B5B; }

.ajax {
  min-height: 100vh; }

img {
  opacity: 1;
  transition: opacity cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s; }

img[data-src] {
  opacity: 0; }

img[data-src].loaded {
  opacity: 1; }

@font-face {
  font-family: "Ballinger";
  src: url(/assets/fonts/MetricWeb-Medium.eot) format("eot");
  src: url(/assets/fonts/MetricWeb-Medium.woff) format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Ballinger";
  src: url(/assets/fonts/MetricWeb-Regular.eot) format("eot");
  src: url(/assets/fonts/MetricWeb-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

.ballinger {
  font-family: Ballinger, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.mono, .t-copyright, .t-client, .t-caption {
  font-family: Ballinger Mono, "Lucida Console", Monaco, monospace; }

.bold, .t-nav, .header_menuitem a, .t-header, .work_welcome, .t-title, .t-quote {
  font-weight: 700; }

.regular, .t-copyright, .t-footer, .t-client, .t-caption, .t-text, body {
  font-weight: 400; }

.light, .t-big, .work_tagline, .t-clientlist, .t-deck {
  font-weight: 100; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase; }

.display {
  text-transform: uppercase;
  letter-spacing: -1px; }

.t-nav, .header_menuitem a {
  font-size: 20px;
  line-height: 1.2em; }
  @media screen and (min-width: 768px) {
    .t-nav, .header_menuitem a {
      font-size: calc(0vw + 20px); } }
  @media screen and (min-width: 1600px) {
    .t-nav, .header_menuitem a {
      font-size: 20px; } }

.t-big, .work_tagline {
  font-size: 44px;
  line-height: 1.2em; }
  @media screen and (min-width: 768px) {
    .t-big, .work_tagline {
      font-size: calc(2.52404vw + 24.61538px); } }
  @media screen and (min-width: 1600px) {
    .t-big, .work_tagline {
      font-size: 65px; } }

.t-clientlist {
  font-size: 28px;
  line-height: 2.4em; }
  @media screen and (min-width: 768px) {
    .t-clientlist {
      font-size: calc(0vw + 28px); } }
  @media screen and (min-width: 1600px) {
    .t-clientlist {
      font-size: 28px; } }

.t-copyright {
  font-size: 12px;
  line-height: 1.2em; }
  @media screen and (min-width: 768px) {
    .t-copyright {
      font-size: calc(0vw + 12px); } }
  @media screen and (min-width: 1600px) {
    .t-copyright {
      font-size: 12px; } }

.t-footer {
  font-size: 14px;
  line-height: 1.2em; }
  @media screen and (min-width: 768px) {
    .t-footer {
      font-size: calc(0vw + 14px); } }
  @media screen and (min-width: 1600px) {
    .t-footer {
      font-size: 14px; } }

.t-client {
  font-size: 14px;
  line-height: 1.2em; }
  @media screen and (min-width: 768px) {
    .t-client {
      font-size: calc(0vw + 14px); } }
  @media screen and (min-width: 1600px) {
    .t-client {
      font-size: 14px; } }

.t-header, .work_welcome {
  font-size: 21px;
  line-height: 1.2em;
  margin-bottom: 5px;
  color: #FD6270; }
  @media screen and (min-width: 768px) {
    .t-header, .work_welcome {
      font-size: calc(0vw + 21px); } }
  @media screen and (min-width: 1600px) {
    .t-header, .work_welcome {
      font-size: 21px; } }

.t-title {
  font-size: 34px;
  line-height: 1.2em; }
  @media screen and (min-width: 768px) {
    .t-title {
      font-size: calc(0vw + 34px); } }
  @media screen and (min-width: 1600px) {
    .t-title {
      font-size: 34px; } }

.t-deck {
  font-size: 21px;
  line-height: 1.2em; }
  @media screen and (min-width: 768px) {
    .t-deck {
      font-size: calc(0vw + 21px); } }
  @media screen and (min-width: 1600px) {
    .t-deck {
      font-size: 21px; } }

.t-caption {
  font-size: 14px;
  line-height: 1.2em; }
  @media screen and (min-width: 768px) {
    .t-caption {
      font-size: calc(0vw + 14px); } }
  @media screen and (min-width: 1600px) {
    .t-caption {
      font-size: 14px; } }

.t-quote {
  font-size: 64px;
  line-height: 1.2em; }
  @media screen and (min-width: 768px) {
    .t-quote {
      font-size: calc(0vw + 64px); } }
  @media screen and (min-width: 1600px) {
    .t-quote {
      font-size: 64px; } }

.t-text, body {
  font-size: 21px;
  line-height: 1.4em; }
  @media screen and (min-width: 768px) {
    .t-text, body {
      font-size: calc(0vw + 21px); } }
  @media screen and (min-width: 1600px) {
    .t-text, body {
      font-size: 21px; } }

body {
  font-family: Ballinger, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  font-weight: 400; }

section {
  padding-top: 20px;
  padding-bottom: 20px; }
  @media screen and (min-width: 768px) {
    section {
      padding-top: calc(0.48344vw + 16.28718px);
      padding-bottom: calc(0.48344vw + 16.28718px); } }
  @media screen and (min-width: 1045.33333px) {
    section {
      padding-top: calc(1.84562vw + 2.04786px);
      padding-bottom: calc(1.84562vw + 2.04786px); } }
  @media screen and (min-width: 1322.66667px) {
    section {
      padding-top: calc(4.88248vw - 38.11966px);
      padding-bottom: calc(4.88248vw - 38.11966px); } }
  @media screen and (min-width: 1600px) {
    section {
      padding-top: 40px;
      padding-bottom: 40px; } }

footer {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media screen and (min-width: 768px) {
    footer {
      padding-top: calc(0.48344vw + 26.28718px);
      padding-bottom: calc(0.48344vw + 26.28718px); } }
  @media screen and (min-width: 1045.33333px) {
    footer {
      padding-top: calc(1.84562vw + 12.04786px);
      padding-bottom: calc(1.84562vw + 12.04786px); } }
  @media screen and (min-width: 1322.66667px) {
    footer {
      padding-top: calc(4.88248vw - 28.11966px);
      padding-bottom: calc(4.88248vw - 28.11966px); } }
  @media screen and (min-width: 1600px) {
    footer {
      padding-top: 50px;
      padding-bottom: 50px; } }

.wrap, section, header, footer, .work_introvideo {
  padding-left: 20px;
  padding-right: 20px; }
  @media screen and (min-width: 768px) {
    .wrap, section, header, footer, .work_introvideo {
      padding-left: calc(9.61538vw - 53.84615px);
      padding-right: calc(9.61538vw - 53.84615px); } }
  @media screen and (min-width: 1600px) {
    .wrap, section, header, footer, .work_introvideo {
      padding-left: 100px;
      padding-right: 100px; } }

section, header, footer {
  overflow: hidden; }

main {
  margin-top: 70px; }

.mesh {
  display: flex;
  flex-flow: row wrap;
  margin-left: -20px;
  margin-right: -20px; }
  .mesh > div {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (min-width: 768px) {
      .mesh > div {
        padding-left: calc(1.20192vw + 0.76923px);
        padding-right: calc(1.20192vw + 0.76923px); } }
    @media screen and (min-width: 1600px) {
      .mesh > div {
        padding-left: 20px;
        padding-right: 20px; } }
    .mesh > div img, .mesh > div iframe, .mesh > div video {
      width: 100%;
      height: auto;
      display: block;
      line-height: 0px; }

.body--locked {
  overflow: hidden; }

.u-hide {
  opacity: 0;
  pointer-events: none; }

.u-link {
  border-bottom: 1px solid #474B5B;
  color: #474B5B; }
  .u-link:hover {
    border-bottom: 1px dotted #474B5B; }

.u-mobile {
  display: block; }
  @media only screen and (min-width: 1024px) {
    .u-mobile {
      display: none; } }

.u-desktop {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .u-desktop {
      display: block; } }

.u-center {
  display: flex;
  justify-content: center; }

.grey {
  background: #CCD6DF; }

.black {
  background: #474B5B; }

.wip {
  display: none; }

.header {
  background: #474B5B;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1; }
  .header_brand {
    flex: 1; }
  .header_emblem {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: #fe8f99;
    color: #FFFFFF;
    margin-left: -5px;
    text-indent: -9999px; }
  .header_nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .header_menu {
    display: inline; }
  .header_menuitem {
    display: inline-block;
    padding: 5px 10px;
    position: relative; }
    .header_menuitem:after {
      position: absolute;
      content: '';
      display: block;
      width: 0%;
      height: 4px;
      margin-top: 2px;
      background: #FD6270; }
    .header_menuitem.active:after {
      width: calc(100% - 20px); }
    .header_menuitem a {
      color: #FFFFFF; }

.work_introvideo {
  background: #fe8f99;
  width: 100vw;
  display: block;
  position: relative;
  height: 80vh; }
  @media only screen and (min-width: 768px) {
    .work_introvideo {
      height: calc(100vh - 70px);
      max-height: calc(100vw * 0.5625); } }

.work_welcome {
  position: absolute;
  top: 50px;
  color: #FFFFFF; }

.work_tagline {
  position: absolute;
  bottom: 50px; }

.casestudies {
  background: #CCD6DF;
  padding-top: 20px; }
  @media only screen and (min-width: 768px) {
    .casestudies {
      padding-top: 60px; } }
  .casestudies_intro {
    margin-top: 50px; }
    @media only screen and (min-width: 768px) {
      .casestudies_intro {
        position: absolute;
        width: 25%;
        left: 50%;
        margin-top: 50px;
        margin-left: 20px; } }
    .casestudies_intro p {
      color: #474B5B; }
  .casestudies_thumbs > div {
    flex-basis: 100%;
    margin-bottom: 50px; }
    @media only screen and (min-width: 768px) {
      .casestudies_thumbs > div {
        flex-basis: 50%;
        flex-grow: 0;
        margin-bottom: 150px; }
        .casestudies_thumbs > div:nth-child(2n) {
          -webkit-transform: translateY(250px);
                  transform: translateY(250px); } }
  @media only screen and (min-width: 768px) {
    .casestudies > div {
      margin-bottom: 200px; } }
  .casestudies > div img {
    margin-bottom: 20px; }
  .casestudies > div h3 {
    margin-bottom: 10px; }

.related {
  background: #474B5B;
  color: #FFFFFF; }
  .related h3 {
    color: #FFFFFF; }

.footer {
  background: #FFFFFF; }

/*# sourceMappingURL=../css/app.css.map */
