.mesh {
  display: flex;
  flex-flow: row wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.mesh > div {
  flex: 1;
  padding: 0 10px;
}

.mesh > div img {
  width: 100%;
  height: inherit;
  display: block;
  line-height: 0px;
}

.grey {
  background: #CCD6DF;
  padding: 10px;
}


video, iframe, img {
  max-width: 100%;
}


.structure-entry-content div.video_vid {
  position: relative;
  padding: 56.25% 0 0 0;
}

.structure-entry-content div.video_vid iframe {
}

.text p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.builder-entry-fieldset-name {
  /*right: initial;*/
  /*left: 0px;*/
}

.structure-entry-content {
  padding: 20px;
}